<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EatAtNotts"
        tools:targetApi="31">
        <service
            android:name=".MyOrders.MyOrdersPickUpDetailsNotifications"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".MyOrders.MyOrdersDeliveryDetailsNotifications"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" />
        <service
            android:name=".Pending.PendingPickUpNotifications"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" />
        <service
            android:name=".CustomerOrder.CustomerOrderPickUpNotifications"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" />
        <service
            android:name=".CustomerOrder.CustomerOrderDeliveryNotifications"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" />
        <service
            android:name=".Pending.PendingDeliveryNotification"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".History.HistoryPickUpNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History.HistoryPickUpDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History.HistoryDeliveryNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History.HistoryDeliveryDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History.HistoryDates"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyHistory.MyHistoryDates"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyHistory.MyHistoryPickUpDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyHistory.MyHistoryPickUpNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyHistory.MyHistoryDeliveryDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyHistory.MyHistoryDeliveryNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pending.RejectReason"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pending.PendingPickUpDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pending.PendingDeliveryDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrders.MyOrdersPickUpDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrders.MyOrdersDeliveryDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerOrder.PickUpDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerOrder.DeliveryDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThankPurchase"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payment.Payment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddFood.AddFood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cart.CartDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.WalletReload"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderToFood.FoodDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderToFood.HawkerFoodList"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainpage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainpageHawker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cart.Cart"
            android:screenOrientation="portrait" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>